.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 30px;
  /* width: 100vw; */
}
.add_review_form input {
  display: inline;
  width: 45%;
}
.map {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:600px) {
  .contact {
    flex-wrap: wrap;
  }
  .contact_s1 {
    width: 90vw;
  }
  .add_review_form {
    width: 90vw;
  }
  .add_review_form input {
    display: block;
    width: 100%;
  }
  ._btn {
    width: 35vw;
  }
}